{
    "name": "capirca",
    "repositories": {
        "googleinternal": {
            "type": "google3",
            "project_space": "internal",
            "build_target": "//third_party/py/capirca:capirca_internal.tar",
            "paths": ["//depot/google3/third_party/py/capirca"],
            "executable_file_res": ["\\.sh$"]
        },
        "github": {
            "type": "git",
            "project_space": "public",
            "url": "git@github.com:google/capirca.git"
        }
    },
    "migrations": [{
        "name": "export_to_public",
        "from_repository": "googleinternal",
        "to_repository": "github",
        "separate_revisions": "true"
        },
        {
        "name": "import_from_public",
        "from_repository": "github",
        "to_repository": "googleinternal",
        "separate_revisions": "true"
      }
    ],
    "translators": [
        {
            "from_project_space": "internal",
            "to_project_space": "public",
            "steps": [
                {
                    "name": "rename_step",
                    "editor": {
                        "type": "renamer",
                        "mappings": {
                            "third_party/py/capirca/aclgen.py": "capirca/aclgen.py",
                            "third_party/py/capirca/__init__.py": "capirca/__init__.py",
                            "third_party/py/capirca/lib": "capirca/lib",
                            "third_party/py/capirca": ""
                        }
                    }
                },
                {
                    "name": "scrub_step",
                    "editor": {
                        "type": "scrubber",
                        "scrubber_config": {
                            "usernames_to_publish": ["vklimovs", "pmoody",
                                                     "kbrint", "msu",
                                                     "robankeny", "watson",
                                                     "jzohrab", 'sneakywombat',
                                                     "castagno", "maddychan"],
                            "scrub_authors": false,
                            "python_module_removes": [
                              {
                                "import_module": "google3"
                              },
                              {
                                "import_module": "google3.devtools.api.source.piper.source_file_pb2"
                              },
                              {
                                "import_module": "google3.devtools.perforce.g4lib.connection"
                              },
                              {
                                "import_module": "google3.devtools.perforce.g4lib.p4"
                              },
                              {
                                "import_module": "google3.devtools.perforce.g4lib.p4context"
                              },
                              {
                                "import_module": "google3.ops.security.lib.piper_lib"
                              }
                            ],
                            "python_module_renames": [
                              {
                                "internal_module": "capirca.tools",
                                "public_module": "tools"
                              },
                              {
                                "internal_module": "third_party.ipaddr",
                                "public_module": "ipaddr"
                              }
                            ],
                            "string_replacements": [
                              {"original": "googletest",
                               "replacement": "unittest"}
                            ]
                        }
                    }
                }
            ]
        },
        {"from_project_space": "public",
         "to_project_space": "internal",
         "inverse": true}
    ]
}
